<%- include('header'); -%>

<h1 class="box" id="heading">Syed Muhammad Ali</h1>
<h1 class="box" id="heading">Syed Umair Ahmad</h1>
<h1 class="box" id="heading">Syed Zubair Ahmad</h1>

<%- include('footer'); -%>
